<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My LMS</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('stuheader.ejs') %>
    <h1 class="head">Courses enrolled</h1>
    <div class="cards">
        <% courses.forEach(course => { %>
            <% if (course.enrolled) { %>
                <div class="card">
                    <div class="card-header"><%= course.name %></div>
                    <div class="card-body">
                        <% const completion = course.completionPercentage.toFixed(2); %>
                        <% if (!isNaN(completion)) { %>
                            <p>Completed: <%= completion %>%</p>
                        <% } else { %>
                            <p>Completed: 0%</p>
                        <% } %>                        
                    </div>
                    <div class="card-footer">
                        <a href="/viewencourse/<%= course.id %>"><button>Continue</button></a>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
    <%- include('stufooter.ejs') %>
</body>
</html>