<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My LMS</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('stuheader.ejs') %>
    <section>
        <div style="text-align: right;">
            <a href="/mycourses"><button><%= myCourses %></button><br><br></a>
        </div>
        <p style="text-align: center;" id="avail"><%= availCourses %></p>
        <div class="cards">
            <% courses.forEach(course => { %>
                <div class="card">
                    <div class="card-header"><%= course.name %></div>
                    <div class="card-footer">
                        <a href="/viewcourse/<%= course.id %>"><button><%= viewCourse %></button></a>
                        
                    </div>
                    <form action="/enroll/<%= course.id %>" method="post">
                            <button type="submit"><%= enroll %></button>
                    </form>
                </div>
            <% }); %>
        </div>
    </section>
    <div class="footer">
        
    </div>
</body>
</html>
