<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My LMS</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    .chapapa {
        background-color: whitesmoke;
        color: black;
        border: 1px solid black;
        border-radius: 2px;
        width: 40%;
        overflow:auto;
        text-align: left;
    }
  </style>
</head>
<body>
  <%- include('eduheader.ejs') %>
  <h1><%= coursename %></h1>
  <% chapters.forEach(chapter => { %>
    <h2><%= chapter.name %></h2>
    <%= chapter.desc %>
    <div style="margin-left: 10px;"><ul>
        <% pages.forEach(page => { %>
            <% if (page.chapterId == chapter.id ) { %>
                <li><h3><%= page.title %></h3>
                <%= page.content %></li>
            <% } %>
        <% }); %>
    </ul></div><hr>
  <% }); %>
  <%- include('edufooter.ejs') %>
</body>
</html>