<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My LMS</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    .chapapa {
        background-color: whitesmoke;
        color: black;
        border: 1px solid black;
        border-radius: 2px;
        width: 40%;
        overflow:auto;
        text-align: left;
    }
  </style>
  <script>
    function deleteChapter(id) {
        fetch(`/chapters/${id}`, {
            method: "delete",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
            })
        })
            .then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err));
    }
    function deletePage(id) {
        fetch(`/pages/${id}`, {
            method: "delete",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
            })
        })
            .then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err));
    }
  </script>
</head>
<body>
  <%- include('eduheader.ejs') %>
  <h1><%= coursename %></h1>
  <% chapters.forEach(chapter => { %>
    <h2><%= chapter.name %>
    <a href="#" onclick="deleteChapter(<%= chapter.id %>)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="height: 15px;">
          <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" />
      </svg>
    </a></h2>
    <%= chapter.desc %>
    <div style="margin-left: 10px;"><ul>
        <% pages.forEach(page => { %>
            <% if (page.chapterId == chapter.id ) { %>
                <li><h3><%= page.title %>
                  <a href="#" onclick="deletePage(<%= page.id %>)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="height: 15px;">
                        <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" />
                    </svg>
                  </a></h3>
                <%= page.content %></li>
            <% } %>
        <% }); %>
    </ul></div><hr>
  <% }); %>
  <%- include('edufooter.ejs') %>
</body>
</html>