<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My LMS</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../eduheader.ejs') %>
    <section>
        <h1 class="head"><%= createCourseTitle %></h1>
        <br><br>
        <form action="/courses" method="post">
            <label for="coursename"><%= courseNameLabel %></label><br><br>
            <input name="coursename" id="coursename" type="text" style="width: 400px"><br><br>
            <button type="submit"><%= submitButton %></button>
        </form>    
    </section>
    <%- include('../../flash.ejs') %>
    <%- include('../edufooter.ejs') %>
</body>
</html>