<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My LMS</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    .chapapa {
        background-color: whitesmoke;
        color: black;
        border: 1px solid black;
        border-radius: 2px;
        width: 40%;
        overflow:auto;
        text-align: left;
    }
  </style>
</head>
<body>
  <%- include('../stuheader.ejs') %>
  <section>
    <h1><%= coursename %></h1>
    <%= eduname %> <br>
    <%= date %>
    <h3><u><b><%= chapterTitle %></b></u></h3>
    <% chapters.forEach(chapter => { %>
      <a href="/viewchap/<%= chapter.id%>"><button class="chapapa"><%= chapter.name %></button></a><br><br>
    <% }); %>
  </section>
  <%- include('../stufooter.ejs') %>
</body>
</html>