<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My LMS</title>
  <link rel="stylesheet" href="/styles.css">
  <script>
    function markPageAsCompleted(pageId, chapId) {
      fetch(`/pages/${pageId}/markAsCompleted`, {
          method: "put",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
              "_method": "PUT",
              "completed": true,
          })
      })
      .then((res) => {
          if (res.ok) {
              window.location.href = `/viewpage/${pageId}/${chapId}`;
          }
      })
      .catch((err) => console.error(err));
    }
  </script>
</head>
<body>
    <%- include('../stuheader.ejs') %>
    <section>
      <h1 class="head"><%= pagetitle %></h1>
      <p><%= pagecont %></p>
      <% if (completed) { %>
        <p>This page is completed!</p>
      <% } else { %>
        <button onclick="markPageAsCompleted(<%= pageid %>, <%= chap %>); return false;" style="background-color: rgb(67, 0, 139);">Mark As Completed</button>
      <% } %>
      <% let nextpg = pageid + 1; %>
      <a href="/viewpage/<%= nextpg %>/<%= chap %>"><button type="submit">Next</button></a>
    </section>
    <%- include('../stufooter.ejs') %>
</body>
</html>